<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

    </system.web>
  <system.webServer>
    <!--<handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false" />

    <staticContent>
      <mimeMap fileExtension=".xslx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="login.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>
   
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
  <connectionStrings>
    <add name="myconnectionstring" connectionString="server=192.168.1.58;database=KRM_Document;uid=sa;password=sa@2008;Connect Timeout=240;" providerName="System.Data.SqlClient" />

  </connectionStrings>

  </configuration>
